@import "mixins";
@import "variables";
@import "reset";

body {
	height: 100%;
	background-color: $secondary-100;
	padding: rem(70) 0;
}
main {
	@include flex-h-center();
	gap: rem(24);
	font-family: Barlow, sans-serif;

	#card-1 {
		@include mobile-card();
		position: relative;
		background-color: $primary-purple;
		color: $primary-white;
		.user-section {
			img {
				outline: $light-purple rem(3) solid;
			}
		}
		.testimony-title {
			position: relative;
			z-index: 1;
		}
		.testimony-comment {
			color: $secondary-200;
		}
		#quote-img {
			z-index: 0;
			width: rem(104);
			height: rem(102);
			position: absolute;
			right: rem(24);
			top: 0;
		}
	}
	#card-2 {
		@include mobile-card();
		background-color: $primary-gray;
		color: $primary-white;
	}
	#card-3 {
		@include mobile-card();
		background-color: $primary-white;
		color: $primary-gray;
	}
	#card-4 {
		@include mobile-card();
		background-color: $primary-black;
		color: $primary-white;
		img {
			outline: $primary-purple rem(3) solid;
		}
		.testimony-title {
			color: $secondary-100;
		}
	}
	#card-5 {
		@include mobile-card();
		background-color: $primary-white;
		color: $primary-gray;
	}
}
@include desktop {
	body {
		height: 100vh;
		@include flex-center();
	}
	main {
		transition: all 500ms ease;
		display: grid;
		grid-template-columns: repeat(4, rem(255));
		grid-template-rows: rem(282) rem(266);
		row-gap: rem(24);
		column-gap: rem(30);
		#card-1 {
			width: rem(540);
			grid-area: 1/1/2/3;

			#quote-img {
				right: rem(80);
			}
		}
		#card-2 {
			width: rem(255);
			grid-area: 1/3/2/4;
		}
		#card-3 {
			width: rem(255);
			grid-area: 2/1/3/4;
		}
		#card-4 {
			width: rem(540);
			grid-area: 2/2/3/4;
		}
		#card-5 {
			width: rem(255);
			grid-area: 1/4/3/5;
		}
	}
}
